.main_menu ul {
    list-style-type: none;
    color: white;
}
ul.navbar-nav {
    margin: 0 auto;
	font-weight: 400;
    font-size: 18px;
}
ul.navbar-nav li a {
    color: white;
}
.container.main_intro {
    margin-top: 83px;
}
img.intro_img {
    float: right;
	z-index: 0;
}
.intro_text {
    width: 500px;
    height: 381px;
    background-color: #e3dedcc4;
    z-index: 1;
    margin-top: 100px;
    border-radius: 7px;
}
span.section-heading-upper {
    display: block;
    font-size: 19px;
    text-align: center;
    font-weight: 800;
    margin-top: 27px;
}
span.section-heading-lower {
    display: block;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}
.intro_text p {
    display: block;
    padding: 30px 59px 0px 59px;
    text-align: center;
    font-family: raleway;
}
a.btn.btn-primary.btn-xl {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #e6a756;
    border-color: #e6a756;
    margin-left: 11em;
    margin-top: 4.1em;
}
section.our_promise {
    background-color: #e6a756;
    margin-top: 81px;
    height: 487px;
}
.container-fluid.promise_main {
    background-color: rgba(230,167,86,.9);
    margin-top: 83px;
}

.our_text h3 {
    font-family: inherit;
    font-weight: 100;
    font-size: 3rem;
}
.our_text p {
    text-align: center;
}
.our_text:before {
    border-radius: .5rem;
    content: '';
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
	left: 0.5rem;
    right: 0.5rem;
    border: .25rem solid rgba(255,255,255,.85);
}
.our_text.w-50.mx-auto {
    background-color: white;
    padding: 55px;
    border-radius: 9px;
    border: 2px solid #d3984e;
}
.border_bofore {
    background-color: white;
    padding: 83px;
}
.container-fluid.footer_main {
    height: 140px;
    margin-top: 70px;
    background-color: rgba(47,23,15,.9);
}